# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build

# misc
.DS_Store

# Next.js
.next/
out/
.cache/
.next.js

# IDE
.idea/

# environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
